<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UQDS Team Signup</title>
  </head>
  <body>
    <h1> UQDS Signup Form </h1>
    <form class="Signup" action="{% url 'signupform:signup' %}" method="post">
      {% csrf_token %}
      Team Name:<br>
      <input type="text" name="team_name"><br><br>
        {% for i in speaker_ids %}
            <label for="speaker_{{i}}"></label>Team Speaker {{i}}:<br>
            <input type="text" name="speaker_{{i}}"
            id="speaker_{{i}}"><br>
        {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
