a, a:hover{
  text-decoration: none;
  color: currentcolor;
}

.accordion {
  transition: 0.4s;
  cursor: pointer;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
