{% extends 'base.html' %}
{% block title %}Team Attendance Form - {{ block.super }}{% endblock %}

{% block content %}

    <h4>UQDS Team Attendance Form</h4>
    <form class="attendanceform" method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Submit</button>
    </form>
    <!--
      success/ failure message goes here
    !-->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags}}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
