{% extends 'baseapp/list_debates.html' %}
{% load static %}
{% block title %} Today's Debates - {{ block.super }} {% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "baseapp/css/debates.css" %}">
{% endblock %}

{% block before_list %}
<div class="row my-2">
  <div class="col-12 text-center">
    <h4 style="display: inline-block;">Today's Debates</h4>
    <button type="button" class="btn btn-outline-secondary btn-lg" id="id_generate_debates">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>


{% endblock %}

{% block detail_link %}{% url 'baseapp:debate_detail' debate.id %}{% endblock %}

{% block nav-item %}debates{% endblock %}

{% block body_js %}
<script>
  $("#id_generate_debates").click(function() {
    $.get("{% url 'baseapp:debates' %}", {generate_debates: true, })
      .done(function() {
        location.reload();
      });
  });
</script>
{% endblock %}
