{% extends 'base.html' %}
{% block title %} Debate Details - {{ block.super }} {% endblock %}

{% block content %}

  <div class="row">
    {% for attendance in debate.attendances.all %}
    <div class="col-sm-6">
      <div class="row">
        <div class="col-12 text-center">
          <h4>{{ attendance.team.name }}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table>
            <tr>
              <th>Attending Speakers:</th>
            </tr>
            {% for speaker in attendance.speakers.all %}
            <tr>
              <td>{{ speaker.name }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
