{% extends 'baseapp/list_debates.html' %}
{% load static %}
{% block title %} Draw - {{ block.super }} {% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "baseapp/css/debates.css" %}">
{% endblock %}

{% block before_list %}
<div class="row my-2">
  <div class="col-12 text-center">
    <h4 style="display: inline-block;">Draw</h4>
  </div>
</div>

{% block detail_link %}{% url 'baseapp:debate_detail' debate.debate_id %}{% endblock %}

{% block nav-item %}debates{% endblock %}
