{% extends 'base.html' %}
{% block title %} Fixtures - {{ block.super }} {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 text-center">
      <h4> Fixtures </h4>
    </div>
  </div>

  {% for debate in debates %}
  <div class="row py-1">
    <div class="col-12">
      <a href="{% url 'baseapp:debate_detail' debate.id %}">
        <div class="alert alert-secondary">
          <div class="row py-2">
            <div class="col-12 col-sm-5 text-center">
              <h5>{{ debate.attendances.all.0.team.name }}</h5>
            </div>
            <div class="col-12 col-sm-2 text-center">
              <h5 style="font-weight:bold;">VS</h5>
            </div>
            <div class="col-12 col-sm-5 text-center">
              <h5>{{ debate.attendances.all.1.team.name }}</h5>
            </div>
          </div>

          <div class="row py-1">
            <div class="col-12 text-center">
              <h6>Judge: {{ debate.judge.name }}</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  {% endfor %}

{% endblock %}
