{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}

    <h4>{% block form_heading %}{% endblock %}</h4>
    <form class="form" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Submit</button>
    </form>
    <!--
      success/ failure message goes here
    !-->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags}}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
