{% extends 'base.html' %}

{% block content %}
  <h4>Welcome to the UQDS Internals Tab!</h4>
  <h6>Lead Development by Byron Ho, Project Design by Liam Bond.</h6>
  <br>
  <p>
    For the first time ever, we’ve developed a custom solution for the 
    UQDS Internals Competition. This web-page is your go-to site for 
    every week of Internals 2019.
  </p>
  <br>
  <h5>How To Use the App</h5>
  <p>The app is separated into sections:</p>
  <ol>
    <li>
      <h6>Team Registration</h6>
      <p>
          Before Internals, speakers must register to debate together. 
          Here, you can choose a team name and choose your team members. Importantly, 
          <ul>
            <li>Each person must be a 2019 UQDS memeber to be eligible to be in a team</li>
            <li>Each person can only be in one team</li>
            <li>Each team only needs to be registered once</li>
            <li>Each team can have up to 5 members.</li>
          </ul>
      </p>
    </li>
    <li>
      <h6>Attendance form</h6>
      <p>
          Before each week of the competition, you must register your attendance 
          via the attendance form. Select your team, then select who’s here this week. 
          If you’d prefer to judge, simply check the checkbox. You can change and 
          resubmit your attendance form as many times as you like, as only the most 
          recent submission will count. 
      </p>
    </li>
    <li>
      <h6>Draw</h6>
      <p>
          This is where the VP (Internals) will publish the draw, once it has been 
          finalised. You can click on a debate to reveal speakers and additional 
          information. 
      </p>
    </li>

    <br>
    <p>
      <b>This app is currently in testing phase.</b><br>
      If you spot any bugs, or simply have any feature requests, please inform Byron at
      lai.ho@uqconnect.edu.au. <br>
      For other enquiries, please contact Liam Bond at liam.bond@outlook.com. <br>
      
    </p>
  </ol>
{% endblock %}

{% block nav-item %}home{% endblock %}
